<!-- FOOTER -->
<section data-bs-version="5.1" class="footer3 cid-uLYVBJ04sg" once="footers" id="footer-6-uLYVBJ04sg">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <p class="mbr-fonts-style copyright display-7">© 2025 JuTech!. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER -->

<!-- SCRIPTS -->
<!-- <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/parallax/jarallax.js"></script>
<script src="/assets/smoothscroll/smooth-scroll.js"></script>
<script src="/assets/ytplayer/index.js"></script>
<script src="/assets/dropdown/js/navbar-dropdown.js"></script>
<script src="/assets/vimeoplayer/player.js"></script>
<script src="/assets/theme/js/script.js"></script>
<script src="/assets/formoid/formoid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- SCRIPTS -->
