<!-- MENU -->
<section data-bs-version="5.1" class="menu menu2 cid-uLYVBIVuax" once="menu" id="menu-5-uLYVBIVuax">\
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/index.html">
                        <img src="/assets/images/JuTech-Logo-Header.jpeg" alt="Mobirise Website Builder">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-4"
                        href="/index.html">JuTech!</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="/index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="/pages/tienda.html" aria-expanded="false">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="/pages/contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="/pages/acercaDe/index.html">Acerca de Nosotros</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<!-- MENU -->